.wrapper {
    display: inline-flex;
    justify-content: flex-end;
    border: 10px solid lighten(Orange, 10%);
	background: black;
    transition: border-color .2s ease-in;
    &:hover {
        border: 10px solid orange;
        transition: border-color .2s ease-in;
    }
}

canvas {
    cursor: crosshair;
	//height: 400px;
	//width: 200px;
}

.row {
    margin: 10vh 5vw;
}