<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h3>Draw Here</h3>
        <div class="wrapper">
            <canvas drawable (newImage)="predict($event)"></canvas><br>
        </div>

        <button class="btn btn-sm btn-warning" (click)="canvas.clear()">Erase</button>

    </div>
    <div class="col-sm">
        <h3>TensorFlow Prediction</h3>
		<h3>{{predictions}}</h3>
        <chart [data]="predictions"></chart>
    </div>
  </div>
</div>




  




<router-outlet></router-outlet>
